<div align="center">
  <div class="content_border">
    <div class="flex error_image">
      <%= image_tag "sorry", :size => "400x200" %>
      <p class="error_string">500 Not Found</p>
    </div>
    <br>
    <p>申し訳ございません。Webサイトはこのページを表示できません。</p><br>
    <p>ただいまWebサイトがメンテナンス中であるか、</p><br>
    <p>プログラム上に問題がある可能性があります。</p><br>
    <%= link_to "TOPページへ戻る", root_path, class: "btn btn-border-shadow btn-border-shadow--color2" %>
  </div>
</div>