<div class="chat">
  <!-- <p><%#= chat.message %></p> -->
  <%# byebug %>
  <p class="chat_message"><%= chat.message %></p>
  <div class="flex">
    <div>
      <% if chat.customer.image_id? %>
        <%= image_tag chat.customer.image_id.url, :size => '80x80', class: 'icon' %>
      <% else %>
        <%= image_tag "/assets/noimage.jpg", :size => '80x80', class: 'icon' %>
      <% end %>
    </div>
    <div class="chat_customer"><%= link_to chat.customer.nickname, public_customer_path(chat.customer.id) %></div>
  </div>
</div>
<br>