<div align="center">
  <div class="content_border">
    <h3>Community List</h3>
    <br>
      <div class="flex">
      	<div class="community_list">
        <% @communities.each do |community| %>	     
          <a href="/public/communities/<%= community.id %>" class="btn btn_detail_square"><span><%= community.name %></span></a>&emsp;
        <% end %>
      </div>
      <br>
    </div>
  </div>
</div>