<div align="center">
  <div class="flex">
    <div class="shadow_box">
      <%= image_tag @artist.image_id.to_s %>
    </div>
    <div class="artist_label">
      <label class="btn btn_artistname btn-lg"><span><%= @artist.name %></span></label>
	  <br>
	  since <%= @artist.formation_yeah %>~
	  </div>
  </div>
  <br><br><br>

  <div class="content_border">
    <%= @artist.detail %>
  </div>

</div>