<div class="bg_slider3">
  <div align="center">
    <%= link_to "Login", customer_session_path, class: "btn btn--orange btn--radius btn--cubic" %>
    <br>
    <br>
    <%= link_to "Signup", new_customer_registration_path, class: "btn btn--blue btn--radius btn--cubic" %>
  </div>
</div>