<div class="bg_slider2">
  <div align="center">
    <p class="top_text1">今日も音楽やアーティストを</p>
    <p class="top_text2">様々な形で応援しよう。</p>
    <%= link_to "How was it?", homes_about_path, class: "btn_hex" %>
  </div>
</div>