<div class="bg_slider3">
  <div align="center">
    <a href="/customers/sign_in" class="btn btn--orange btn--radius btn--cubic">Login</a>
    <br>
    <br>
    <a href="/customers/sign_up" class="btn btn--blue btn--radius btn--cubic">Signup</a>
  </div>
</div>