<div class="bg_slider2">
  <div align="center">
    <p class="top_text1">今日も音楽やアーティストを</p>
    <p class="top_text2">様々な形で応援しよう。</p>
    <a class="button-hex"></a>
    <a href="/homes/about" class="btn_hex">How was it?</a>
  </div>
</div>