<div align="center">
  <p class="top_title">MUSIC fanS</p>
  <p class="top_text1">今日も音楽やアーティストを</p>
  <p class="top_text2">様々な形で応援しよう。</p>
  <%= link_to "How was it?" "" %>
  <%= link_to "Login" "" %>
  <%= link_to "Signup" "" %>
</div>