<div class="bg_slider">
  <%= render 'bg_slider1' %>
  <%= render 'bg_slider2' %>
  <%= render 'bg_slider3' %>
</div>

<script>
jQuery(function($) {
    $('.bg_slider1').bgSwitcher({
        images: ['live_stage_purple-c0417b1edba533ef970941b2f773acd982c57d760ca80c896e40001a128d6100.jpg','iphone_blue-305de9fc11f4df3594392c1d2ce18a5293015bef07dc3261951ea1c3a0c73864.jpg','colorful_stage-30080f54c0dd7d8f55c9e654d69aee1028a4c92507a7d22fa035d4ea1741cd9e.jpg'], // 切替背景画像を指定
	    interval: 3000, // 背景画像を切り替える間隔を指定 1000=1秒
        loop: true, // 切り替えを繰り返すか指定 true=繰り返す false=繰り返さない
        shuffle: false, // 背景画像の順番をシャッフルするか指定 true=する false=しない
        effect: "blind", // エフェクトの種類をfade,blind,clip,slide,drop,hideから指定
        duration: 500, // エフェクトの時間を指定
        easing: "swing" // エフェクトのイージングをlinear,swingから指定
    });
    $('.bg_slider2').bgSwitcher({
        images: ['live_studio-72d4b60a8592a30389e3e9091deb07744c2d06e15394d20efc19953c61699049.jpg','piano_headphone-209e8c7b75ef03d3290f2f28956deb4cdf19721aa8b7298205b3573d1349cea3.jpg','listening_radio-e73ded0b39af81c24837ad0c11e04bcbae6a393451034200cc03bec501fed6b6.jpg'], // 切替背景画像を指定
	    interval: 3000, // 背景画像を切り替える間隔を指定 1000=1秒
        loop: true, // 切り替えを繰り返すか指定 true=繰り返す false=繰り返さない
        shuffle: false, // 背景画像の順番をシャッフルするか指定 true=する false=しない
        effect: "fade", // エフェクトの種類をfade,blind,clip,slide,drop,hideから指定
        duration: 500, // エフェクトの時間を指定
        easing: "swing" // エフェクトのイージングをlinear,swingから指定
    });
    $('.bg_slider3').bgSwitcher({
        images: ['listening_girl_pink-5ffcf5d7136c142544ba4536e723aa7a63937580b4ed7af1d5b27a8a1c9da78e.jpg','live_singer-93a84ba855f5743e13168b3050ef861785a9b74d6c221219a270a55ca339df18.jpg','live_studio-72d4b60a8592a30389e3e9091deb07744c2d06e15394d20efc19953c61699049.jpg'], // 切替背景画像を指定
	    interval: 3000, // 背景画像を切り替える間隔を指定 1000=1秒
        loop: true, // 切り替えを繰り返すか指定 true=繰り返す false=繰り返さない
        shuffle: false, // 背景画像の順番をシャッフルするか指定 true=する false=しない
        effect: "drop", // エフェクトの種類をfade,blind,clip,slide,drop,hideから指定
        duration: 500, // エフェクトの時間を指定
        easing: "swing" // エフェクトのイージングをlinear,swingから指定
    });
});
</script>