/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */

 /*Custom bootstrap variables must be set or imported *before* bootstrap.*/
 @import "bootstrap";

 @import "font-awesome-sprockets";
 @import "font-awesome";

 @import url(https://fonts.googleapis.com/css?family=Chewy);
 @import url(https://fonts.googleapis.com/css?family=Bitter);

 .bg_slider {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
  }

 .bg_slider1 {
   width: 100vw;
   height: calc(100% / 3);
   background-size: cover;
   background-position: center;
   justify-content: center;
   padding: 35px 50px 35px 50px;
 }

 .bg_slider2 {
   width: 100vw;
   height: calc(100% / 3);
   background-size: cover;
   background-position: center;
   justify-content: center;
   padding: 43px 100px 43px 100px;
 }

 .bg_slider3 {
   width: 100vw;
   height: calc(100% / 3);
   background-size: cover;
   background-position: center;
   justify-content: center;
   padding: 33px 50px 33px 50px;
 }

 .top_title {
   font-weight: 700;
   font-size: 70px;
   letter-spacing: 0.05em;
   color: #fff;
   font-weight: bold;
   text-shadow: 1px 5px 5px #000;
 }

 .top_text1 {
   text-align: left;
   font-weight: bold;
   font-size: 20px;
   color: #fff;
   text-shadow: 1px 1px 1px #000;
 }

 .top_text2 {
   text-align: right;
   font-weight: bold;
   font-size: 20px;
   color: #fff;
   text-shadow: 1px 1px 1px #000;
 }

 /* topページ aboutボタン */

 a.btn_hex {
   text-decoration: none;
   color: #fff;
 }

 .btn_hex {
   font-size: 14px;
   line-height: 40px;
   position: relative;
   display: inline-block;
   width: 100px;
   height: 42px;
   transition: all .1s ease-in-out;
   text-align: center;
   background-color: red;
   margin-right: 500px;
 }

 .btn_hex:before, .btn_hex:after {
   position: absolute;
   top: 0;
   width: 0;
   height: 0;
   content: '';
   border: 21px solid transparent;
   border-right: 12px solid transparent;
   border-left: 12px solid transparent;
 }

 .btn_hex:before {
   right: 100%;
   border-right-color: red;
 }

 .btn_hex:after {
   left: 100%;
   border-left-color: red;
 }

 .btn_hex:hover {
   opacity: .7;
 }

 /* topページ loginボタン */

 a.btn--orange.btn--cubic {
   color: white;
   text-decoration: none;
   background-color: orange;
   border-bottom: 5px solid #CC6600;
   padding: 10px 40px 10px 40px;
 }

 a.btn--orange.btn--cubic:hover {
   margin-top: 3px;
   border-bottom: 2px solid #CC6600;
 }

 a.btn--radius {
   border-radius: 100vh;
 }

 /* topページ signupボタン */

 a.btn--blue.btn--cubic {
   color: white;
   text-decoration: none;
   background-color: blue;
   border-bottom: 5px solid #003366;
   padding: 10px 35px 10px 35px;
 }

 a.btn--blue.btn--cubic:hover {
   margin-top: 3px;
   border-bottom: 2px solid #003366;
 }

 a.btn--radius {
   border-radius: 100vh;
 }

 /* aboutページ padding */

 .container_about {
   padding: 30px 50px 50px 50px;
   position: relative;
 }

 /* aboutページ background */

 .holder, .first_gradation, .second_gradation, .third_gradation {
   height: 180vh;
   width: 100vw;
 }

 .first_gradation, .second_gradation, .third_gradation {
   position: absolute;
 }

 .second_gradation, .third_gradation {
   opacity: 0;
 }

 .holder {
   height: 100vh;
   position: relative;
   z-index: 1;
 }

 .first_gradation {
   animation: first 10s infinite;
   background: linear-gradient(#5ff8ca, #60e08c);
   z-index: 10;
 }

 @keyframes first_gradation {
   0% {opacity: 1.0;}
   10% {opacity: 0.8;}
   20% {opacity: 0.6;}
   30% {opacity: 0.4;}
   40% {opacity: 0.2;}
   50% {opacity: 0.1;}
   60% {opacity: 0.2;}
   70% {opacity: 0.4;}
   80% {opacity: 0.6;}
   90% {opacity: 0.8;}
   100% {opacity: 1.0;}
 }

 .second_gradation {
   animation: second 10s infinite; animation-delay: 2s;
   background: linear-gradient(#19eaa6, #00a1f0);
   z-index: 20;
 }

 @keyframes second_gradation {
   0% {opacity: 0;}
   10% {opacity: 0.2;}
   20% {opacity: 0.4;}
   30% {opacity: 0.6;}
   40% {opacity: 0.8;}
   50% {opacity: 1.0;}
   60% {opacity: 0.8;}
   70% {opacity: 0.6;}
   80% {opacity: 0.4;}
   90% {opacity: 0.2;}
   100% {opacity: 0;}
 }

 .third_gradation {
   animation: third 10s infinite;
   animation-delay: 8s;
   background: linear-gradient(#aab7f8, #ff75c6);
   z-index: 30;
 }

 @keyframes third_gradation {
   0% {opacity: 0;}
   10% {opacity: 0.2;}
   20% {opacity: 0.4;}
   30% {opacity: 0.6;}
   40% {opacity: 0.8;}
   50% {opacity: 1.0;}
   60% {opacity: 0.8;}
   70% {opacity: 0.6;}
   80% {opacity: 0.4;}
   90% {opacity: 0.2;}
   100% {opacity: 0;}
 }

 .abouttop {
   color: #222222;
   margin-top: 120px;
   position: absolute;
   left: 38%;
   z-index: 1000;
 }

 .abouttop2 {
   color: #222222;
   margin-top: 120px;
   position: absolute;
   left: 42%;
   z-index: 1000;
 }

 .about1_content {
   margin: 230px 0 0 70px;
 }

 .about2_content {
   margin: 90px 0 0 95px;
 }

 .aboutimage {
   z-index: 1000;
 }

 .heart {
   font-size: 80px;
   color: #FF3D67;
   animation: heart-beats .3s infinite alternate;
   transform-origin: center;
   font-family: 'Chewy', cursive;
   margin-top: 0;
   color: #FF9EB6;
   position: absolute;
   left: 50%;
   z-index: 1000;
 }

 /* about heart アニメーション設定 */

 @keyframes heart-beats {
   to { transform: scale(1.1); }
 }

 /* aboutページ テキスト */

 .about1 {
   color: #555555;
   padding: 50px 20px 20px 40px;
   line-height: 1.8em;
   z-index: 1000;
 }

 .about2 {
   color: #555555;
   padding: 50px 20px 20px 40px;
   line-height: 1.8em;
   z-index: 1000;
 }

 .aboutlink {
   position: relative;
 }

 .aboutlink_contents {
   position: absolite;
   z-index: 1000;
   margin-left: 485px;
   margin-top: 180px;
 }

 .container_cover {
   height: 100%;
   background: linear-gradient(#2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
 }

 .container {
   height: 100%;
   padding: 20px 0 20px 0;
   background: linear-gradient(#2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
 }

 .content_border {
   border: 1px solid white;
   background-color: white;
   padding: 15px;
 }

 header {
   display:flex;
   height: 50px;
   background-color: #1d1d1f;
   justify-content: center;
 }

 header div {
   display: flex;
   padding: 12px 50px 0 50px;
   text-align: center;
   .edit_link {
   text-decoration: none;
   color: silver;
   }
 }

 .icon {
  border-radius: 50%;
 }

 .flex {
   display: inline-flex;
 }

 .search_btn {
   
 }

 .ranking_label {
   width: 40%;
   position: relative;
   margin: 30px;
   text-align: center;
 }

 .ranking_label:before, .ranking_label:after {
   position: absolute;
   z-index: 0;
   bottom: -10px;
   display: block;
   content: '';
   border: 1em solid #d90606;
 }

 .ranking_label:before {
   left: -30px;
   border-left-width: 15px;
   border-left-color: transparent;
 }

 .ranking_label:after {
   right: -30px;
   border-right-width: 15px;
   border-right-color: transparent;
 }

 .ranking_label span {
   position: relative;
   z-index: 1;
   display: block;
   padding: 1rem 2rem;
   color: #fff;
   background: #fa4141;
 }

 .ranking_label span:before, .ranking_label span:after {
   position: absolute;
   bottom: -10px;
   display: block;
   width: 10px;
   height: 10px;
   content: '';
   border-style: solid;
  border-color: #b70505 transparent transparent transparent;
 }

 .ranking_label span:before {
   left: 0;
   border-width: 10px 0 0 10px;
 }

 .ranking_label span:after {
   right: 0;
   border-width: 10px 10px 0 0;
 }

 .artist_box {
   width: 200px;
   height: auto;
   margin: 50px;
   text-align: center;
 }

 .new_artist_box {
   width: 150px;
   height: auto;
   margin: 20px;
   text-align: center;
 }

 .shadow_box {
   width: 210px;
   border:5px solid #AAAAAA;
   box-shadow: 0 10px 10px #666666;
 }

 .new_shadow_box {
   width: 160px;
   border:5px solid #AAAAAA;
   box-shadow: 0 10px 10px #666666;
 }

 .shadow_box:hover {
   transform: translateY(-10px);
   transition-duration: 0.5s;
 }

 .artist_box:nth-child(3n) {
   margin-right: 0;
 }

 .best1_label {
   padding: 1rem 2rem;
   color: #fff;
   background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
 }

 .best2_label {
   padding: 1rem 2rem;
   color: #fff;
   background-image: linear-gradient(135deg, #757575 0%, #e8e8e8 40%, #9e9e9e 60%, #757575 100%);
 }

 .best3_label {
   padding: 1rem 2rem;
   color: #fff;
   background-image: linear-gradient(135deg, #ba6e40 0%, #c9ae5d 40%, #c08d5e 60%, #ba6e40 100%);

 }

 .ribbon_wrapper {
   display: block;
   position: relative;
   margin: 15px auto;
   padding: 10px 0;
   width: 850px;
   height: 390px;
   background: #f1f1f1;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
   box-sizing: border-box;
 }

 .ribbon_content {
   position: absolute;
   top: -6px;
   right: -6px;
   width: 89px;
   height: 91px;
   overflow: hidden;
 }

 .ribbon {
   display: inline-block;
   position: absolute;
   padding: 7px 0;
   left: -23px;
   top: 22px;
   width: 160px;
   text-align: center;
   font-size: 18px;
   line-height: 16px;
   background: linear-gradient(to right, #4298fa 0%,#8fcdff 100%);
   color: #fff;
   text-shadow: 0 2px 2px #56a1f3;
   letter-spacing: 0.05em;
   transform: rotate(45deg);
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 } 

 .ribbon:before, .ribbon:after {
   position: absolute;
   content: "";
   border-top: 4px solid #3672b6;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
   bottom: -4px;
 }

 .ribbon:before {
   left: 14px;
 }

 .ribbon:after {
   right: 18px;
 }

 .btn-real-dent {
   display: inline-block;
   position: relative;
   text-decoration: none;
   color: rgba(3, 169, 244, 0.54);
   width: 100px;
   height: 100px;
   border-radius: 10%;
   text-align: center;
   background: #f7f7f7;
   box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
 }

 .new_artist_name a {
   line-height:0.95em;
   font-weight:bold;
   color: transparent;
   background: linear-gradient( 0deg, #F57C00 0% 60% , #FFB74D 60% 100%);
   -webkit-background-clip: text;
 }

 /* アーティスト一覧 見出し */

 .artist_list_label {
   width: 45%;
   position: relative;
   padding: 1rem 2rem;
   box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
   color: white;
   background-color: #aaaaaa;
 }

 .artist_list_label:before, .artist_list_label:after {
   position: absolute;
   left: 0;
   width: 100%;
   height: 4px;
   content: '';
   background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
 }

 .artist_list_label:before {
   top: 0;
 }

 .artist_list_label:after {
   bottom: 0;
 }

 .fa_small {
   font-size: 10px;
   color: #ffc107;
 }

 .artist_label {   
   padding: 70px 0 0 200px;
 }

 a.btn_viewmore {
   color: #fff;
   border-radius: 100vh;
   background-image: -webkit-linear-gradient(110deg, #e9defa 0%, #fbfcdb 100%);
   background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
   box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
 }

 a.btn_viewmore span {
   background-image: -webkit-gradient(linear, left top, right top, from(#93a5cf), to(#e4efe9));
   background-image: -webkit-linear-gradient(left, #93a5cf 0%, #e4efe9 100%);
   background-image: linear-gradient(to right, #93a5cf 0%, #e4efe9 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 a.btn_viewmore:hover {
   -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
   box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
 }

 label.btn_artistname {
   color: #fff;
   border: 2px solid #fff;
   border-radius: 0;
   background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
   background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
   background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
   box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
 }

 /* アーティスト詳細 楽曲リスト見出し */

 .artistshow_songlist {
   line-height: 45px;
   position: relative;
   width: 15%;
   height: 45px;
   margin: 2em 50px 1em;
   padding: 0 2rem;
   text-align: center;
   color: #fff;
   background: #fa4141;
 }

 .artistshow_songlist:before, .artistshow_songlist:after {
   position: absolute;
   top: 0;
   display: block;
   height: 45px;
   content: '';
   border: 22px solid #fa4141;
 }

 .artistshow_songlist:before {
   left: -20px;
   border-left-width: 15px;
   border-left-color: transparent;
 }

 .artistshow_songlist:after {
   right: -20px;
   border-right-width: 15px;
   border-right-color: transparent;
 }

 .artistshow_songlist span {
   position: relative;
   display: block;
 }

/* 楽曲詳細 楽曲名見出し */

 label.btn_songname {
   color: #fff;
   border: 2px solid #fff;
   border-radius: 0;
   background-image: -webkit-gradient(linear, left top, right top, from(#2af598), to(#009efd));
   background-image: -webkit-linear-gradient(left, #2af598 0%, #009efd 100%);
   background-image: linear-gradient(90deg, #2af598 0%, #009efd 100%);
   box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
 }

 /* 詳細コメント padding */

 .detail_space {
   padding: 0 50px 0 50px;
 }

 /* アーティスト詳細ページへのリンクボタン */

 .btn_detail,a.btn_detail {
   font-size: 1.3rem;
   font-weight: 700;
   line-height: 1.5;
   position: relative;
   display: inline-block;
   padding: 0.5rem 2rem;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   transition: all 0.3s;
   text-align: center;
   vertical-align: middle;
   text-decoration: none;
   letter-spacing: 0.1em;
   color: #212529;
   border-radius: 100vh;
 }

 a.btn_detail {
   font-weight: normal;
   color: #fff;
   border-radius: 100vh;
   background-image: linear-gradient(90deg, #ff3cac 40%, #562b7c 100%);

 }

 a.btn_detail:after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   content: "";
   transition: all 0.5s;
   background-image: linear-gradient(90deg, #ff3cac, #562b7c, #2b86c5);
   border-radius: 100vh;
 }

 a.btn_detail span {
   position: relative;
   z-index: 1;
 }

 a.btn_detail:hover {
   color: #fff;
 }

 a.btn_detail:hover:after {
   opacity: 0;
 }

 .flex .community_list {
   box-sizing: border-box;
  }

 /* コミュニティ一覧 アーティスト名リンクボタン */

 .btn_detail_square,a.btn_detail_square {
   font-size: 1.3rem;
   font-weight: 700;
   line-height: 1.5;
   position: relative;
   display: inline-block;
   padding: 0.5rem 2rem;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   transition: all 0.3s;
   text-align: center;
   vertical-align: middle;
   text-decoration: none;
   letter-spacing: 0.1em;
   color: #212529;
   border-radius: 0.5rem;
   margin-bottom: 15px;
 }

 a.btn_detail_square {
   font-weight: normal;
   color: #fff;
   border-radius: 0;
   background-image: linear-gradient(90deg, #ff3cac 40%, #562b7c 100%);
 }

 a.btn_detail_square:after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   content: "";
   transition: all 0.5s;
   background-image: linear-gradient(90deg, #ff3cac, #562b7c, #2b86c5);
 }

 a.btn_detail_square span {
   position: relative;
   z-index: 1;
 }

 a.btn_detail_square:hover {
   color: #fff;
 }

 a.btn_detail_square:hover:after {
   opacity: 0;
 }

 /* chat message 吹き出し右側 */

 .is_right p {
   position: relative;
   padding: 1rem 1rem;
   border: 3px solid #d8d8d8;
   border-radius: 10px;
   background: #f9f9f9;
 }

 .is_right p:before {
   position: absolute;
   bottom: -14px;
   right: 1.5em;
   width: 0;
   height: 0;
   content: '';
   border-width: 14px 12px 0 12px;
   border-style: solid;
   border-color: #d8d8d8 transparent transparent transparent;
 }

 .is_right p:after {
   position: absolute;
   bottom: -10px;
   right: 1.5em;
   width: 0;
   height: 0;
   content: '';
   border-width: 14px 12px 0 12px;
   border-style: solid;
   border-color: #f9f9f9 transparent transparent transparent;
 }

 /* chat message 吹き出し左側 */

 .is_left p {
   position: relative;
   padding: 1rem 1rem;
   border: 3px solid #d8d8d8;
   border-radius: 10px;
   background: #f9f9f9;
 }

 .is_left p:before {
   position: absolute;
   bottom: -14px;
   left: 1.5em;
   width: 0;
   height: 0;
   content: '';
   border-width: 14px 12px 0 12px;
   border-style: solid;
   border-color: #d8d8d8 transparent transparent transparent;
 }

 .is_left p:after {
   position: absolute;
   bottom: -10px;
   left: 1.5em;
   width: 0;
   height: 0;
   content: '';
   border-width: 14px 12px 0 12px;
   border-style: solid;
   border-color: #f9f9f9 transparent transparent transparent;
 }

 /* chat message ユーザ情報 */

 .chat_customer {
   padding: 25px 0 0 10px;
 }

 .chat_customer a {
   padding: 25px 0 0 10px;
   color: #777777;
   text-decoration: none;
 }

 .is_right {
   width: 40%;
   margin: 0 0 0 auto;
   text-align: right;
 }

 .is_left {
   width: 40%;
   position: left;
 }

 .blog_headline {
   padding: 1rem 2rem;
   color: #fff;
   border-radius: 10px;
   background-image: -webkit-gradient(linear, left top, right top, from(#f83600), to(#f9d423));
   background-image: -webkit-linear-gradient(left, #f83600 0%, #f9d423 100%);
   background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
 }

 .blog_editheadline {
   width: 32%;
   padding: 1rem 2rem;
   color: #fff;
   border-radius: 10px;
   background-image: -webkit-gradient(linear, right top, left top, from(#9be15d), to(#00e3ae));
   background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
   background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
 }


 .hidden_imageform {
   display: none;
 }

 .file_select {
   border: 2px dashed silver;
   padding: 8px;
   background: yellow;
   border-radius: 5px;
 }

 .flex_blog {
   display: flex;
 }

 .flex_blog h5 {
   padding: 25px 0 0 20px;
 }

 .blog_datetime {
   color: gray;
   margin: 24px;
 }

 .blog_edit_titleform {
   width: 20%;
   height: 40px;
 }

 .blog_edit_contentform {
   width: 32%;
 }

 .btn_blogedit {
   display: inline-block;
   max-width: 180px;
   text-align: left;
   background-color: #00cc66;
   font-size: 16px;
   color: #FFF;
   text-decoration: none;
   padding: 10px 24px;
   margin: 14px;
   border-radius: 4px;
   border-bottom: 4px solid #669999;
 }

 .btn_blogedit:active {
   transform: translateY(4px);
   border-bottom: none;
   color: #FFF;
   text-decoration: none;
 }

 .btn_blogdelete {
   display: inline-block;
   max-width: 180px;
   text-align: left;
   background-color: #ff0066;
   font-size: 16px;
   color: #FFF;
   text-decoration: none;
   padding: 10px 24px;
   margin: 14px 14px 14px 0;
   border-radius: 4px;
   border-bottom: 4px solid #993300;
 }

 .btn_blogdelete:active {
   transform: translateY(4px);
   border-bottom: none;
   color: #FFF;
   text-decoration: none;
 }

 .blog_content {
   padding-left: 23px;
 }

 /* pagination デザイン */

 .pagination>li>a {          
   border: none;   
   color: #696969;  
 }

 .pagination>.active>a {     
   background: #93c9ff;    
   border-radius: 15px;    
 }

 .pagination>li>a:hover {        
   border-radius: 15px;    
 }

 .pagination {
   /* margin-right: 150px; */
 }

 .mypage_headline {
   width: 80%;
   padding: 0.5rem 1rem;
   color: #fff;
   background-color: gray;
   box-shadow: 5px 5px 0 silver;
 }

 .mypage_content {
   margin: 5px 0 15px 10px;
 }

 .btn_follow {
   display: inline-block;
   max-width: 180px;
   text-align: left;
   background-color: #9966ff;
   font-size: 16px;
   color: #FFF;
   text-decoration: none;
   padding: 10px 24px;
   margin: 14px;
   border-radius: 4px;
   border-bottom: 4px solid #663399;
 }

 .btn_follow:active {
   transform: translateY(4px);
   border-bottom: none;
   color: #FFF;
   text-decoration: none;
 }

 .mypage_main {
   background: #fff;
 }

 .mypage_linkwhole{
   width: 500px;
   height: 350px;
   position: relative;
   background: #fff0cd;
   box-shadow: 0px 0px 0px 5px #fff0cd;
   border: dashed 2px white;
   padding: 0.2em 0.5em;
   color: #454545;
   padding: 100px 0 195px 0;
   top: 100px;
   left: 170px;
 }

 .mypage_linkwhole:after{
   position: absolute;
   content: '';
   right: -7px;
   top: -7px;
   border-width: 0 15px 15px 0;
   border-style: solid;
   border-color: #ffdb88 #fff #ffdb88;
   box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
 }

 a.mypage_link {
   color: #c69c6d;
   font-weight: bold;
   text-decoration: none;
   font-size: 25px;
 }

 .btn_favorite_name {
   position: relative;
   display: inline-block;
   font-size: 20px;
   font-weight: bold;
   padding: 0.2em 0;
   margin-bottom: 0.2em;
   text-decoration: none;
   color: #67c5ff;  
 }

 .btn_favorite_name:before {
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
   transition: .2s;
 }

 .btn_favorite_name:hover:before {
   top: calc(100% - 3px);
 }

 a.btn_favorite_name {
   text-decoration: none;
 }