/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*Custom bootstrap variables must be set or imported *before* bootstrap.*/
 @import "bootstrap";

 .container_cover {
   height: 100%;
   background: linear-gradient(#2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
 }

 .container {
   height: 100%;
   padding: 20px 0 20px 0;
   background: linear-gradient(#2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
 }

 .content_border {
   border: 1px solid white;
   background-color: white;
   padding: 15px;
 }

 header {
   display:flex;
   height: 50px;
   background-color: #1d1d1f;
   justify-content: center;
 }

 header div {
   display: flex;
   padding: 12px 50px 0 50px;
   text-align: center;
   .edit_link {
   text-decoration: none;
   color: silver;
   }
 }

 .icon {
  border-radius: 50%;
 }

 .flex {
   display: inline-flex;
   justify-content: space-between;
 }

 .artist_box {
   width: 200px;
   height: auto;
   margin: 30px 100px 0 0;
   text-align:center;
 }

 .shadow_box {
   width: 210px;
   border:5px solid #AAAAAA;
   box-shadow: 0 10px 10px #666666;
 }

 .shadow_box:hover {
   transform: translateY(-10px);
   transition-duration: 0.5s;
 }

 .flex .artist_box:nth-child(3n) {
   margin-right: 0;
 }

 .btn-real-dent {
   display: inline-block;
   position: relative;
   text-decoration: none;
   color: rgba(3, 169, 244, 0.54);
   width: 100px;
   height: 100px;
   border-radius: 10%;
   text-align: center;
   background: #f7f7f7;
   box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
 }

 .artist_label {
   line-height: 105px;
   padding-left: 200px;
 }

 a.btn_viewmore {
   color: #fff;
   border-radius: 100vh;
   background-image: -webkit-linear-gradient(110deg, #e9defa 0%, #fbfcdb 100%);
   background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
   box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
 }

 a.btn_viewmore span {
   background-image: -webkit-gradient(linear, left top, right top, from(#93a5cf), to(#e4efe9));
   background-image: -webkit-linear-gradient(left, #93a5cf 0%, #e4efe9 100%);
   background-image: linear-gradient(to right, #93a5cf 0%, #e4efe9 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 a.btn_viewmore:hover {
   -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
   box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
 }

 label.btn_artistname {
   color: #fff;
   border: 2px solid #fff;
   border-radius: 0;
   background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
   background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
   background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
 }

 .blog_headline {
   padding: 1rem 2rem;
   color: #fff;
   border-radius: 10px;
   background-image: -webkit-gradient(linear, left top, right top, from(#f83600), to(#f9d423));
   background-image: -webkit-linear-gradient(left, #f83600 0%, #f9d423 100%);
   background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
 }

 .blog_editheadline {
   width: 32%;
   padding: 1rem 2rem;
   color: #fff;
   border-radius: 10px;
   background-image: -webkit-gradient(linear, right top, left top, from(#9be15d), to(#00e3ae));
   background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
   background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
 }


 .hidden_imageform {
   display: none;
 }

 .file_select {
   border: 2px dashed silver;
   padding: 8px;
   background: yellow;
   border-radius: 5px;
 }

 .flex_blog {
   display: flex;
 }

 .flex_blog h5 {
   padding: 25px 0 0 20px;
 }

 .blog_datetime {
   color: gray;
   margin: 24px;
 }

 .blog_edit_titleform {
   width: 20%;
   height: 40px;
 }

 .blog_edit_contentform {
   width: 32%;
 }

 .btn_blogedit {
   display: inline-block;
   max-width: 180px;
   text-align: left;
   background-color: #00cc66;
   font-size: 16px;
   color: #FFF;
   text-decoration: none;
   padding: 10px 24px;
   margin: 14px;
   border-radius: 4px;
   border-bottom: 4px solid #669999;
 }

 .btn_blogedit:active {
   transform: translateY(4px);
   border-bottom: none;
   color: #FFF;
   text-decoration: none;
 }

 .btn_blogdelete {
   display: inline-block;
   max-width: 180px;
   text-align: left;
   background-color: #ff0066;
   font-size: 16px;
   color: #FFF;
   text-decoration: none;
   padding: 10px 24px;
   margin: 14px 14px 14px 0;
   border-radius: 4px;
   border-bottom: 4px solid #993300;
 }

 .btn_blogdelete:active {
   transform: translateY(4px);
   border-bottom: none;
   color: #FFF;
   text-decoration: none;
 }

 .blog_content {
   padding-left: 23px;
 }
