/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */

 /*Custom bootstrap variables must be set or imported *before* bootstrap.*/
 @import "bootstrap";

 @import "font-awesome-sprockets";
 @import "font-awesome";

 .container_cover {
   height: 100%;
   background: linear-gradient(#2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
 }

 .container {
   height: 100%;
   padding: 20px 0 20px 0;
   background: linear-gradient(#2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
 }

 .content_border {
   border: 1px solid white;
   background-color: white;
   padding: 15px;
 }

 header {
   display:flex;
   height: 50px;
   background-color: #1d1d1f;
   justify-content: center;
 }

 header div {
   display: flex;
   padding: 12px 50px 0 50px;
   text-align: center;
   .edit_link {
   text-decoration: none;
   color: silver;
   }
 }

 .icon {
  border-radius: 50%;
 }

 .flex {
   display: inline-flex;
 }

 .search_btn {
   
 }

 .ranking_label {
   width: 40%;
   position: relative;
   margin: 30px;
   text-align: center;
 }

 .ranking_label:before, .ranking_label:after {
   position: absolute;
   z-index: 0;
   bottom: -10px;
   display: block;
   content: '';
   border: 1em solid #d90606;
 }

 .ranking_label:before {
   left: -30px;
   border-left-width: 15px;
   border-left-color: transparent;
 }

 .ranking_label:after {
   right: -30px;
   border-right-width: 15px;
   border-right-color: transparent;
 }

 .ranking_label span {
   position: relative;
   z-index: 1;
   display: block;
   padding: 1rem 2rem;
   color: #fff;
   background: #fa4141;
 }

 .ranking_label span:before, .ranking_label span:after {
   position: absolute;
   bottom: -10px;
   display: block;
   width: 10px;
   height: 10px;
   content: '';
   border-style: solid;
  border-color: #b70505 transparent transparent transparent;
 }

 .ranking_label span:before {
   left: 0;
   border-width: 10px 0 0 10px;
 }

 .ranking_label span:after {
   right: 0;
   border-width: 10px 10px 0 0;
 }

 .artist_box {
   width: 200px;
   height: auto;
   margin: 50px;
   text-align: center;
 }

 .new_artist_box {
   width: 150px;
   height: auto;
   margin: 20px;
   text-align: center;
 }

 .shadow_box {
   width: 210px;
   border:5px solid #AAAAAA;
   box-shadow: 0 10px 10px #666666;
 }

 .new_shadow_box {
   width: 160px;
   border:5px solid #AAAAAA;
   box-shadow: 0 10px 10px #666666;
 }

 .shadow_box:hover {
   transform: translateY(-10px);
   transition-duration: 0.5s;
 }

 .artist_box:nth-child(3n) {
   margin-right: 0;
 }

 .best1_label {
   padding: 1rem 2rem;
   color: #fff;
   background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
 }

 .best2_label {
   padding: 1rem 2rem;
   color: #fff;
   background-image: linear-gradient(135deg, #757575 0%, #e8e8e8 40%, #9e9e9e 60%, #757575 100%);
 }

 .best3_label {
   padding: 1rem 2rem;
   color: #fff;
   background-image: linear-gradient(135deg, #ba6e40 0%, #c9ae5d 40%, #c08d5e 60%, #ba6e40 100%);

 }

 .ribbon_wrapper {
   display: block;
   position: relative;
   margin: 15px auto;
   padding: 10px 0;
   width: 850px;
   height: 390px;
   background: #f1f1f1;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
   box-sizing: border-box;
 }

 .ribbon_content {
   position: absolute;
   top: -6px;
   right: -6px;
   width: 89px;
   height: 91px;
   overflow: hidden;
 }

 .ribbon {
   display: inline-block;
   position: absolute;
   padding: 7px 0;
   left: -23px;
   top: 22px;
   width: 160px;
   text-align: center;
   font-size: 18px;
   line-height: 16px;
   background: linear-gradient(to right, #4298fa 0%,#8fcdff 100%);
   color: #fff;
   text-shadow: 0 2px 2px #56a1f3;
   letter-spacing: 0.05em;
   transform: rotate(45deg);
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 } 

 .ribbon:before, .ribbon:after {
   position: absolute;
   content: "";
   border-top: 4px solid #3672b6;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
   bottom: -4px;
 }

 .ribbon:before {
   left: 14px;
 }

 .ribbon:after {
   right: 18px;
 }

 .btn-real-dent {
   display: inline-block;
   position: relative;
   text-decoration: none;
   color: rgba(3, 169, 244, 0.54);
   width: 100px;
   height: 100px;
   border-radius: 10%;
   text-align: center;
   background: #f7f7f7;
   box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
 }

 .new_artist_name a {
   line-height:0.95em;
   font-weight:bold;
   color: transparent;
   background: linear-gradient( 0deg, #F57C00 0% 60% , #FFB74D 60% 100%);
   -webkit-background-clip: text;
 }

 /* アーティスト一覧 見出し */

 .artist_list_label {
   width: 45%;
   position: relative;
   padding: 1rem 2rem;
   box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
   color: white;
   background-color: #aaaaaa;
 }

 .artist_list_label:before, .artist_list_label:after {
   position: absolute;
   left: 0;
   width: 100%;
   height: 4px;
   content: '';
   background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
 }

 .artist_list_label:before {
   top: 0;
 }

 .artist_list_label:after {
   bottom: 0;
 }

 .fa_small {
   font-size: 10px;
   color: #ffc107;
 }

 .artist_label {   
   padding: 70px 0 0 200px;
 }

 a.btn_viewmore {
   color: #fff;
   border-radius: 100vh;
   background-image: -webkit-linear-gradient(110deg, #e9defa 0%, #fbfcdb 100%);
   background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
   box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
 }

 a.btn_viewmore span {
   background-image: -webkit-gradient(linear, left top, right top, from(#93a5cf), to(#e4efe9));
   background-image: -webkit-linear-gradient(left, #93a5cf 0%, #e4efe9 100%);
   background-image: linear-gradient(to right, #93a5cf 0%, #e4efe9 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 a.btn_viewmore:hover {
   -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
   box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
 }

 label.btn_artistname {
   color: #fff;
   border: 2px solid #fff;
   border-radius: 0;
   background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
   background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
   background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
 }

 /* アーティスト詳細 楽曲リスト見出し */

 .artistshow_songlist {
   line-height: 45px;
   position: relative;
   width: 15%;
   height: 45px;
   margin: 2em 50px 1em;
   padding: 0 2rem;
   text-align: center;
   color: #fff;
   background: #fa4141;
 }

 .artistshow_songlist:before, .artistshow_songlist:after {
   position: absolute;
   top: 0;
   display: block;
   height: 45px;
   content: '';
   border: 22px solid #fa4141;
 }

 .artistshow_songlist:before {
   left: -20px;
   border-left-width: 15px;
   border-left-color: transparent;
 }

 .artistshow_songlist:after {
   right: -20px;
   border-right-width: 15px;
   border-right-color: transparent;
 }

 .artistshow_songlist span {
   position: relative;
   display: block;
 }

 /* 詳細コメント padding */

 .detail_space {
   padding: 0 50px 0 50px;
 }

 .blog_headline {
   padding: 1rem 2rem;
   color: #fff;
   border-radius: 10px;
   background-image: -webkit-gradient(linear, left top, right top, from(#f83600), to(#f9d423));
   background-image: -webkit-linear-gradient(left, #f83600 0%, #f9d423 100%);
   background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
 }

 .blog_editheadline {
   width: 32%;
   padding: 1rem 2rem;
   color: #fff;
   border-radius: 10px;
   background-image: -webkit-gradient(linear, right top, left top, from(#9be15d), to(#00e3ae));
   background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
   background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
 }


 .hidden_imageform {
   display: none;
 }

 .file_select {
   border: 2px dashed silver;
   padding: 8px;
   background: yellow;
   border-radius: 5px;
 }

 .flex_blog {
   display: flex;
 }

 .flex_blog h5 {
   padding: 25px 0 0 20px;
 }

 .blog_datetime {
   color: gray;
   margin: 24px;
 }

 .blog_edit_titleform {
   width: 20%;
   height: 40px;
 }

 .blog_edit_contentform {
   width: 32%;
 }

 .btn_blogedit {
   display: inline-block;
   max-width: 180px;
   text-align: left;
   background-color: #00cc66;
   font-size: 16px;
   color: #FFF;
   text-decoration: none;
   padding: 10px 24px;
   margin: 14px;
   border-radius: 4px;
   border-bottom: 4px solid #669999;
 }

 .btn_blogedit:active {
   transform: translateY(4px);
   border-bottom: none;
   color: #FFF;
   text-decoration: none;
 }

 .btn_blogdelete {
   display: inline-block;
   max-width: 180px;
   text-align: left;
   background-color: #ff0066;
   font-size: 16px;
   color: #FFF;
   text-decoration: none;
   padding: 10px 24px;
   margin: 14px 14px 14px 0;
   border-radius: 4px;
   border-bottom: 4px solid #993300;
 }

 .btn_blogdelete:active {
   transform: translateY(4px);
   border-bottom: none;
   color: #FFF;
   text-decoration: none;
 }

 .blog_content {
   padding-left: 23px;
 }

 /* pagination デザイン */

 .pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}